@import "settings";

footer {
  background: linear-gradient(180deg, #665653 38.72%, #403A39 100%);
  color: @white;

  .footer {
    width: 25rem;
  }

  @media screen and (max-width: 991px) {
    .footer {
      margin: 0 auto;
    }
  }
}