@import "settings";

body {
    font-family: @primary-font;
    background: @light;
}

@import "title";

@import "header";
@import "home";
@import "about";
@import "service";
@import "cases";
@import "preference";
@import "diplom";
@import "parnters";
@import "news";
@import "form";
@import "footer";
@import "outform";
@import "mobile";

.outlines-btn {
    background: #f6f0e4 !important;
    border: 1px solid #3b090d !important;
    color: #3b090d !important;
}

.anim-hover {
  transition: .5s;
}

.anim-hover:hover {
  cursor: pointer;
  transition: .5s;
  transform: scale(1.1);
}

.btn-hovers {
  transition: .5s;
}

.btn-hovers:hover {
  transition: .5s;
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 2px 3px 0 black;
}

 h1 {
  font-size: 27px;
  line-height: 27px;
  color: #3B090D;
}
p {
  color: #3B090D;
  font-size: 18px;
}

.carousel-indicators {
  bottom: 20px;
}